<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>981911085699-bagjhm2ss0vj6br3494fqpgfvdqaqsbb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.981911085699-bagjhm2ss0vj6br3494fqpgfvdqaqsbb</string>
	<key>API_KEY</key>
	<string>AIzaSyD3N_u71kh_qxAtCDLE_H5HN-hRG00mEGA</string>
	<key>GCM_SENDER_ID</key>
	<string>981911085699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.babyNames</string>
	<key>PROJECT_ID</key>
	<string>ryo-baby-name-app-db</string>
	<key>STORAGE_BUCKET</key>
	<string>ryo-baby-name-app-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:981911085699:ios:c5ccddac2e7c1dab</string>
	<key>DATABASE_URL</key>
	<string>https://ryo-baby-name-app-db.firebaseio.com</string>
</dict>
</plist>